:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary: #fff;
  --color-gray: #747272;
}
/* Base */
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.section-title {
  color: var(--color-brand-dark);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  margin-bottom: 48px;
}
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Link,button */
.nav-link {
  text-decoration: none;
  color: var(--color-brand-dark);
  font-size: 18px;
  transition: color 0.2s;
}
.nav-link:hover {
  color: var(--color-brand-light);
}
.accent {
  color: var(--color-brand-light);
}
.accent-bold {
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.button {
  background-color: var(--color-brand-light);
  color: var(--color-primary);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
  padding: 16px 32px;
  font-size: 18px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
/* Header */
.header {
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 100px;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 56px;
}
.menu-social {
  display: flex;
  gap: 32px;
}
.social-link {
  fill: var(--color-brand-dark);
  transition: fill 0.2s;
}
.social-link:hover {
  fill: var(--color-brand-light);
}
/* Hero section */
.hero-section {
  padding: 130px 0;
  background-image: linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/hero-photo.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  position: relative;
  padding-left: 160px;
  z-index: 0;
}
.hero-section .wave {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: auto;
}
.hero-title {
  color: var(--color-brand-light);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 140px;
  text-transform: capitalize;
  margin-bottom: 40px;
  line-height: 0.8;
  max-width: 530px;
}
.p-hero-name {
  font-size: 18px;
  margin-bottom: 16px;
}
.hero-text {
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  text-align: center;
}

/* About section */
.about-section {
  padding: 63px 0 88px;
}
.about-div {
  display: flex;
  gap: 32px;
  position: relative;
}
.about-content {
  max-width: 709px;
}
.about-title {
  margin-bottom: 40px;
  max-width: 529px;
}
.about-p {
  margin-bottom: 40px;
  font-size: 22px;
}
.about-par {
  font-size: 22px;
  max-width: 708px;
}
.about-photo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 500px;
  position: relative;
}
.about-photo::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  top: 344px;
  left: 129px;
  background-image: url(../images/Star\ 1.svg);
  background-repeat: no-repeat;
  animation: spin 2s infinite ease-in-out;
}
.about-photo::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40px;
  right: 28px;
  background-image: url(../images/Star\ 2.svg);
  background-repeat: no-repeat;
  animation: spin 2s infinite;
}

.photo1 {
  border-radius: 50%;
  align-self: flex-start;
}
.about-div::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 277px;
  right: 140px;
  background-image: url(../images/Star\ 3.svg);
  background-repeat: no-repeat;
  animation-delay: 2s;
  animation: spin 1.5s infinite ease-out;
}
@keyframes spin {
  0% {
    transform: scale(1.05) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.photo2 {
  border-radius: 50%;
  align-self: flex-end;
}
/* Why us section */
.why-section {
  font-size: 18px;
  line-height: 1.5;
  padding-top: 88px;
  position: relative;
}
.why-section svg {
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
.why-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-title {
  text-align: center;
  max-width: 450px;
}
.why-cards {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 24px 32px;
  background-color: var(--color-primary);
  border-radius: 32px;
  line-height: 1.3;
  box-shadow: 0px 4px 4px rgba(168, 198, 245, 0.38);
  transition: transform 0.2s;
}
.card-item:hover {
  transform: scale(1.05);
}
.card-item p {
  max-width: 252px;
  margin: 0;
}
/* Procedure section */
.procedure-title {
  text-align: center;
  margin: 0 auto 48px;
}
.procedure-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.procedure-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.procedure-item {
  flex-basis: calc((100% - 40px) / 3);
}
.procedure-card {
  position: relative;
  background: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  border-radius: 4px 120px;
  height: 456px;
  width: 344px;
  position: relative;
  transition: transform 0.5s;
}
.procedure-card:hover {
  transform: scale(1.05);
}
.article-title {
  color: var(--color-primary);
  font-weight: 400;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  padding: 372px 77px 32px 115px;
}
.procedure-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 4px 120px;
  
}
/* Carousel */
.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-brand-dark);
  flex-shrink: 0;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.carousel-button:hover {
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.carousel-button.next {
  transform: rotate(0.5turn);
}
/* Contacts section */
.contact-section {
  margin-bottom: 96px;
}
.contacts {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: center;
}
.contact-title {
  text-align: center;
}
.contact-form-field {
  margin-bottom: 16px;
}
.map {
  border-radius: 32px;
}
.contact-form-title {
  color: var(--color-primary);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 274px;
  line-height: 1.2;
}
.contact-form {
  padding: 42px 57px;
  width: 100%;
  height: 100%;
  max-width: 423px;
  max-height: 481px;
  background-color: var(--color-brand-dark);
  border-radius: 32px;
  background-image: url(../images/footer-bgc.png);
}
/* Footer section */
.footer {
  background-color: var(--color-brand-dark);
  background-image: url(../images/footer-bgc.png);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: cover;
  padding: 56px 100px;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 247px;
  height: 152px;
  background-image: url(../images/footer-image.png);
}
.footer-container {
  display: flex;
}
.footer-nav {
  flex-basis: 50%;
  display: flex;
}
.footer-address {
  flex-basis: 50%;
  display: flex;
}
.footer-logo,
.footer-menu {
  flex-grow: 1;
  gap: 20px;
}
.footer-links,
.address-info {
  flex-grow: 1;
  gap: 20px;
}
.address-list li {
  margin-bottom: 16px;
}
.footer-menu li {
  margin-bottom: 16px;
}
.address-info a {
  margin: 0 0 16px 0;
}
.footer-nav-link {
  font-size: 16px;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s;
}
.footer-nav-link:hover {
  color: var(--color-brand-light);
}
.address-link {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-primary);
  font-style: normal;
  transition: color 0.2s;
}
.address-link:hover {
  color: var(--color-brand-light);
}

.address-policy {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary);
  font-style: normal;
  transition: color 0.2s;
}
.address-policy:hover {
  color: var(--color-brand-light);
}
.address-copyright {
  font-size: 13px;
  color: var(--color-gray);
  margin: 0;
  font-style: normal;
}
.social-link-footer {
  fill: var(--color-primary);
  transition: color 0.2s;
}
.social-link-footer:hover {
  fill: var(--color-brand-light);
}
.footer-social {
  display: flex;
  gap: 24px;
}
/* Modal */
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgb(1, 31, 74, 0.4);
  z-index: 2;
  transition: opacity 0.2s, visibility 0.2s;
}
.modal {
  position: relative;
  padding: 42px 144px;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 680px;
  background-color: var(--color-brand-dark);
  border-radius: 48px;
  background-image: url(../images/footer-bgc.png);
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  right: 50px;
  top: 58px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* Form */
.form-title {
  font-size: 64px;
  color: var(--color-primary);
  font-weight: 700;
  font-family: "Play", sans-serif;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 40px;
}
.form-p {
  color: var(--color-primary);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 274px;
}
.form-field {
  margin: 0 auto 24px;
  max-width: 310px;
}
.form-input {
  width: 100%;
  padding: 18px 32px;
  border: 2px solid var(--color-gray);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary);
  transition: all 0.2s;
}
.form-input::placeholder {
  left: 32px;
  top: 18px;
  font-size: 13px;
  color: var(--color-primary);
}
.form-input:focus {
  border-color: var(--color-gray);
  background-color: var(--color-gray);
  outline: none;
}
.form-button {
  display: block;
  font-size: 18px;
  font-style: 600;
  margin: 0 auto 8px;
  line-height: 1.2;
}
.form-button:hover {
  color: var(--color-primary);
}
.form-term {
  margin: 0 auto;
  color: var(--color-gray);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  max-width: 215px;
}
.form-term-link {
  color: var(--color-gray);
  text-underline-offset: 2px;
}
