:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary: #fff;
  --color-gray: #747272;
  --color-light-gray:#4A4A4A
}
$bp-mobile:480px;
$bp-tablet:768px;
$bp-dekstop:1280px;
