.button {
  background-color: var(--color-brand-light);
  color: var(--color-primary);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
  padding: 16px 32px;
  font-size: 18px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}