.link {
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--color-brand-light);
  }
}
.social-link{
  transition: fill 0.2s;
  &:hover{
    fill: var(--color-brand-light);
  }
}
