.footer {
  background-color: var(--color-brand-dark);
  background-image: url(../images/footer-bgc.png);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: cover;
  padding: 49px 91px;
  position: relative;
  @media screen and (min-width: $bp-tablet) {
    padding: 56px 100px;
  }
  &::after {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 247px;
      height: 152px;
      background-image: url(../images/footer-image.png);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 42px;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      gap: 10px;
      text-align: left;
    }
  }
  &__address {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 10px;
      text-align: left;
    }
  }
  &__address-list {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
    }
  }
  &__logo,
  &__menu {
    flex-grow: 1;
  }
  &__links,
  &__address-info {
    flex-grow: 1;
    gap: 20px;
  }
  &__address-list li {
    margin-bottom: 16px;
  }
  &__menu li {
    margin-bottom: 16px;
  }
  &__address-info a {
    margin: 0 0 16px 0;
  }
  &__nav-link {
    color: var(--color-primary);
    font-size: 14px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }

  &__address-link {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-primary);
    font-style: normal;
    transition: color 0.2s;
  }
  &__address-link:hover {
    color: var(--color-brand-light);
  }

  &__address-policy {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-primary);
    font-style: normal;
    transition: color 0.2s;
    font-size: 14px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
    }
  }
  &__address-policy:hover {
    color: var(--color-brand-light);
  }
  &__address-copyright {
    font-size: 13px;
    color: var(--color-gray);
    margin: 0;
    font-style: normal;
  }
  &__social-link {
    fill: var(--color-primary);
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: start;
      gap: 24px;
      margin: 0;
    }
  }
  &__address-icon {
    width: 32px;
    height: 32px;
    @media screen and (min-width: $bp-tablet) {
      width: 42px;
      height: 42px;
    }
  }
}
