.input-control {
  width: 100%;
  padding: 18px 32px;
  border: 2px solid var(--color-gray);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary);
  height: 52px;
  transition: all 0.2s;
  &::placeholder {
    left: 32px;
    top: 18px;
    font-size: 13px;
    color: var(--color-primary);
  }
  &:focus {
    border-color: var(--color-gray);
    background-color: var(--color-gray);
    outline: none;
  }
}



