.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: rgb(1, 31, 74, 0.4);
  z-index: 2;
  transition: opacity 0.2s, visibility 0.2s;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal {
  position: relative;
  padding: 42px 42px;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 680px;
  background-color: var(--color-brand-dark);
  border-radius: 48px;
  background-image: url(../images/footer-bgc.png);
  overflow-y: auto;
  @media screen and (min-width: $bp-tablet) {
    padding: 42px 144px;
  }
  &__btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    @media screen and (min-width: $bp-dekstop) {
      right: 42px;
      top: 42px;
    }
  }
  &__form-field {
    margin: 0 auto 24px;
    max-width: 310px;
  }
  &__button {
    display: block;
    font-size: 16px;
    margin: 0 auto 8px;
    &:hover {
      color: var(--color-primary);
    }
   
  }
  &__form-title {
    font-size: 40px;
    color: var(--color-primary);
    font-weight: 600;
    font-family: "Play", sans-serif;
    text-align: center;
    line-height: 1;
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }
  &__form-p {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 24px;
    max-width: 274px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 32px;
    }
  }
}
