.section {
  padding: 48px 0;
  &__title {
    color: var(--color-brand-dark);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
    margin-bottom: 48px;
  }
}
