.why-section {
  font-size: 18px;
  line-height: 1.5;
  padding-top: 88px;
  position: relative;
  &__svg {
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    max-width: 450px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 56px) / 3);
  }
}
